# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
venv/
.venv/
env/

# OS
.DS_Store

# Large / generated artifacts (remove these lines if you want them in Git)
*.npz
*.pkl
*.zip
*.pdf
*.jpg
*.png
*.eps
*.svg
*.tiff
*.bmp
*.gif
*.ico
*.webp
ndes_*/
new_summaries_*/
sbi-logs/
